<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Team</title>
	<link rel="stylesheet" href="css/team.css">
	<link rel="shortcut icon" href="images/whitelogo.png" type="image/png">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css” integrity=”sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh” crossorigin=”anonymous”>
 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
</head>
<body>
	 {{> navbar}}
	  <h1 class="text-center pt-3">2019-23</h1>
	  <hr class="w-25 mx-auto ">
	<div class="container">
	
		<div class="card">
			<div class="imgbox">
				<img src="images/1612361636263 - Gagan Deep.jpg" style="width: 220px;" alt="">
				</div>
				<div class="details" >
              <h4>
				 Gagan Deep
				 <hr >
			  </h4>
				<p ><pre style="overflow: hidden;">Sub-System-Management 

Role-Team Leader
					</pre>
					<div class="logos mx-auto">
						<a href="https://www.linkedin.com/in/gagan-deep-9450861b9/"><i class="fab fa-linkedin"></i></a>
				
						<a href="https://www.instagram.com/_.obscure_me._22/"><i class="fab fa-instagram"></i></a>
						<a href="https://github.com/Gagandeep-22"><i class="fab fa-github"></i></a>
					</div>
				</p>
				</div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/akshatha_pic - Akshatha K Poojary.jpeg " style="width: 220px;" alt="">
				</div>
				<div class="details">
					<h4>
					   Akshatha K Poojary
					   <hr >
					</h4>
					  <p><pre style="overflow: hidden;">Sub-System-Management 
	  
Role-Team Manager
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/akshatha-k-poojary/"><i class="fab fa-linkedin"></i></a>
							
							<a href="https://www.instagram.com/_akshathapoojary_/"><i class="fab fa-instagram"></i></a>
							<a href="https://github.com/AkshathaKPoojary"><i class="fab fa-github"></i></a>
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/WhatsApp Image 2021-08-05 at 7.54.28 AM - Hasthik Jathan.jpeg" style="width: 220px;" alt="">
				</div>
				<div class="details">
					<h4>
					   Hasthik D Jathan
					   <hr >
					</h4>
					  <p><pre style="overflow: hidden;">Sub-System-Management 
	  
Role-HR
						  </pre>
						  <div class="logos mx-auto">
							<a href="http://www.linkedin.com/in/hasthik644"><i class="fab fa-linkedin"></i></a>
				
						<a href="https://www.instagram.com/hasthik/"><i class="fab fa-instagram"></i></a>
						<a href="https://github.com/hasthik"><i class="fab fa-github"></i></a>
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/Stamp size photo - Omkar Shetye.jpg" style="width: 220px;" height="220px" alt="">
				</div>
				<div class="details">
					<h4>
					   Omkar Shetye
					   <hr >
					</h4>
					  <p><pre>Sub-System-Electronics
	  
Role-Head
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/omkar-shetye-86a6071b8"><i class="fab fa-linkedin"></i></a>
				
						<a href="https://instagram.com/_omkar_shetye?r=nametag"><i class="fab fa-instagram"></i></a>
						
						  </div>
					  </p>
					  </div>
				</div>
		
		<div class="card">
			<div class="imgbox">
				<img src="images/Screenshot_2021-08-31-19-48-46-61 - Eswar Rajesh.jpg" style="width: 220px;" alt="">
				</div>
				<div class="details">
					<h4>
					   R Eswar
					   <hr >
					</h4>
					  <p><pre>Sub-System-Electronics
	  
Role-Head(CnR)
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/eswar-r-870a14200/"><i class="fab fa-linkedin"></i></a>
							
							<a href="https://www.instagram.com/eswar_rajesh/"><i class="fab fa-instagram"></i></a>
							
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/image - SANA JOHN.png
" style="width: 220px;" alt="">
				</div>
				<div class="details">
					<h4>
					   Sana John
					   <hr >
					</h4>
					  <p><pre>Sub-System-Electronics
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/sana-john-21b2611b3"><i class="fab fa-linkedin"></i></a>
						
						<a href="https://www.instagram.com/sanajohnn/"><i class="fab fa-instagram"></i></a>
						
						  </div>
					  </p>
					  </div>
				</div>
		
		<div class="card">
			<div class="imgbox">
				<img src="images/IMG_20210808_204649 - Jignesh Poojary.jpg" style="width: 220px;" height="230px" class="img-fluids" alt="">
				</div>
				<div class="details">
					<h4>
					   Jignesh Premanand
					   <hr >
					</h4>
					  <p><pre>Sub-System-Mechanical
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/jignesh-poojary-4b43141b5"><i class="fab fa-linkedin"></i></a>
						
							<a href="https://www.instagram.com/j_poojary_?r=nametag"><i class="fab fa-instagram"></i></a>
							
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/Screenshot_20210902-231537_Photos - Suhail Moidin.jpg" style="width: 220px;" height="230px"alt="">
				</div>
				<div class="details">
					<h4>
					   Suhail Moidin
					   <hr >
					</h4>
					  <p><pre>Sub-System-Management
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/suhail-moidin-673908188/"><i class="fab fa-linkedin"></i></a>
							
							<a href="https://www.instagram.com/suhailegit/"><i class="fab fa-instagram"></i></a>
							
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/IMG_20210829_195329 - Thaejus Surya.jpg" style="width: 220px;" height="220px" alt="">
				</div>
				<div class="details">
					<h4>
					   Thaejus Surya M T
					   <hr >
					</h4>
					  <p><pre>Sub-System-Electronics
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/thaejus-surya-m-t-96825a1b7/"><i class="fab fa-linkedin"></i></a>
						
							<a href="https://www.instagram.com/trippy_._mind/"><i class="fab fa-instagram"></i></a>
							<a href="https://github.com/thaejus-surya"><i class="fab fa-github"></i></a>
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/WhatsApp Image 2021-11-06 at 7.29.46 PM - Aaron Dsouza.jpeg" style="width: 220px;" height="220px"alt="">
				</div>
				<div class="details">
					<h4>
					   Aaron D'souza
					   <hr >
					</h4>
					  <p><pre>Sub-System-Electronics
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/aaron-dsouza-46b279220/"><i class="fab fa-linkedin"></i></a>
						
							<a href="https://www.instagram.com/aaron_dsoza/"><i class="fab fa-instagram"></i></a>
							<a href="https://github.com/DsouzaAaron"><i class="fab fa-github"></i></a>
						  </div>
					  </p>
					  </div>
				</div>
	
		<div class="card">
			<div class="imgbox">
				<img src="images/Screenshot 2022-02-25 at 4.52.20 PM.png" style="width: 220px;" height="220px" alt="">
				</div>
				<div class="details">
					<h4>
					   Parv Jain
					   <hr >
					</h4>
					  <p><pre class="pretag" style="overflow: hidden;">Sub-System-Management
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/parv-jain-74799a1b6"><i class="fab fa-linkedin"></i></a>
							
							<a href="https://www.instagram.com/prv15_2/?hl=en"><i class="fab fa-instagram"></i></a>
							<a href="https://github.com/parvjain-dev"><i class="fab fa-github"></i></a>
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/afnan.jpeg" style="width: 220px;" height="220px" alt="">
				</div>
				<div class="details">
					<h4>
					   Mohammed Afnan
					   <hr >
					</h4>
					  <p><pre>Sub-System-Member
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/mohammed-afnan-samad-3121891bb"><i class="fab fa-linkedin"></i></a>
						
							<a href="https://www.instagram.com/afnan_althaf/"><i class="fab fa-instagram"></i></a>
							<a href="https://github.com/glytch3"><i class="fab fa-github"></i></a>
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/IMG20210128120546 - Ashutosh m Kotian.jpg"  style="width: 220px;" height="220px"  alt="">
				</div>
				<div class="details">
					<h4>
					   Ashutosh M Kotian
					   <hr >
					</h4>
					  <p><pre>Sub-System-Management
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							<a href="http://www.linkedin.com/in/ashutosh-m-kotian-a266693218"><i class="fab fa-linkedin"></i></a>
						
						<a href="https://www.instagram.com/ash_king_23/"><i class="fab fa-instagram"></i></a>
						
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/sumeetimg.jpeg" style="width: 220px;" height="220px" alt="">
				</div>
				<div class="details">
					<h4>
					   Summet Sawairam
					   <hr >
					</h4>
					  <p><pre>Sub-System-Management
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							<a href="https://www.linkedin.com/in/sumeet-sawairam-724963215"><i class="fab fa-linkedin"></i></a>
						
							<a href="https://www.instagram.com/mr_hope07/"><i class="fab fa-instagram"></i></a>
							{{!-- <a href="https://github.com/Gagandeep-22"><i class="fab fa-github"></i></a> --}}
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/Screenshot_20220220-121353 - Anurag Dhole.png" style="width: 220px;" height="220px" alt="">
				</div>
				<div class="details">
					<h4>
					   Anurag Dhole
					   <hr >
					</h4>
					  <p><pre>Sub-System-Mechanical
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
					
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/PuneethS_Photo - Puneeth Shankar.jpg" style="width: 220px;" height="220px" alt="">
				</div>
				<div class="details">
					<h4>
					   Puneeth S
					   <hr >
					</h4>
					  <p><pre>Sub-System-Electrical
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
					
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/white-IMG-20220206-WA0021 - naman bhat.jpg" style="width: 220px;" height="220px" alt="">
				</div>
				<div class="details">
					<h4>
					   Naman Bhat 
					   <hr >
					</h4>
					  <p><pre>Sub-System-Mechanical
	  
Role-Member
						  </pre>
						  <div class="logos mx-auto">
							
						  </div>
					  </p>
					  </div>
				</div>
		<div class="card">
			<div class="imgbox">
				<img src="images/A351625F-0E6A-4BFE-B56C-EF5D84C08600 - Himanshu Yadav.jpeg" style="width: 220px;" height="220px" alt="">
				</div>
				<div class="details">
					<h4>
					  Himanshu Yadav
					   <hr >
					</h4>
					  <p><pre>Sub-System-Mechanical
	  
Role-Member
						  </pre>
						  	<a href="https://www.linkedin.com/mwlite/in/himanshu--yadav"><i class="fab fa-linkedin"></i></a>
						
							<a href="https://www.instagram.com/_himanshu14/"><i class="fab fa-instagram"></i></a>
							
						  <div class="logos mx-auto">
							
						  </div>
					  </p>
					  </div>
				</div>
	</div>
	  
	 
	  
	{{> footer}}


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
   crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/0e50db3278.js" crossorigin="anonymous"></script>
	</body>
</html> 