<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/work.css" />
       <link rel="shortcut icon" href="images/whitelogo.png" type="image/png">
    <title>Work</title>
  </head>
  <body>
   {{> navbar}}
    
    <div class="main">
      <section>
        <div class="card1">
          <div class="box">
            <div class="imgbx">
              <img src="images/Trigger.jpeg" alt="" srcset="" />
            </div>
            <div class="contentbx">
              <div>
                <h2>Trigger</h2>
                <p>
                  It is drum weapon type bot with a anti wedge. It is wired bot
                  with a dedicated controller.Operating voltage of the bot is 24
                  volt achieved using battery of Lithium Manganese Dioxide.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card1">
          <div class="box">
            <div class="imgbx">
              <img src="images/Bot-2.jpeg" alt="" srcset="" />
            </div>
            <div class="contentbx">
              <div>
                <h2>Alpha Raptor</h2>
                <p>
                  Wired bot with dedicated controller comes with horizontal
                  spinner as the weapon of choice,powered using 24 volt Lithium
                  Manganese dioxide battery.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card1">
          <div class="box">
            <div class="imgbx">
              <img src="images/Bot1.jpeg" alt="" srcset="" />
            </div>
            <div class="contentbx">
              <div>
                <h2>Viper</h2>
                <p>
                  It is bot with wedge and no weapon is added to it.It is wired
                  bot with a dedicated controller.Operating voltage of bot is 24
                  volt achieved using battery of Lithium Maganese Dioxide.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card1">
          <div class="box">
            <div class="imgbx">
              <img src="images/Aura.jpeg" alt="" srcset="" />
            </div>
            <div class="contentbx">
              <div>
                <h2>Aura</h2>
                <p>
                  It is drum weapon type bot with skits. It is a wireless bot
                  with RF controller.Operating voltage of bot is 22.2 volt and
                  11.1 volt achieved using battery of Lithium Polymer.
                </p>
              </div>
            </div>
          </div>
        </div>
         <div class="card1">
          <div class="box">
            <div class="imgbx">
              <img src="images/Dark.PNG" alt="" srcset="" />
            </div>
            <div class="contentbx">
              <div>
                <h2>Dark</h2>
                <p>
                  It is bot with kick mechanism.It is wireless bot with RF
                  controller.Operating voltage of bot is 11.1 volt achieved
                  using battery of Lithium Polymer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  
   
      
       
    
   

   
    
 {{> footer}}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/0e50db3278.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

{{!-- Trigger.jpeg

 --}}